.status{
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 15px;
	border-radius: 50%;
}
.online {
	composes: status;
	background-color: green;
}
.offline {
	composes: status;
	background-color: red;
}
.avatar{
	margin-right: 15px;
	border-radius: 5px;
}

.name{
	font-size: 25px;
	font-weight: 700;
}